*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabello{
    display: grid;
    grid-template-columns: repeat(10,50px);
    grid-template-rows: repeat(10,50px);
    gap: 0;
    margin: 0 auto;
    width: 500px;
}
